
@{
    ViewData["Title"] = "Index";
}

@* NB: we will be adding all our Data using Data Table *@

<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-3 offset-3">
        @* Addition of "asp-controller" is optional since the Upset Action will also be added inside the Book Controller   *@
        <a asp-action="Upset" asp-controller="Books" class="btn btn-info form-control text-white">
            Add New Book
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@* Reference BookList.js javascript file *@
@section Scripts{ 
    <script src="~/js/BookList.js"></script>
}
